$responsive: true;

$main-font-light: 'Montserrat-Light', sans-serif; // 300
$main-font-regular: 'Montserrat-Regular', sans-serif; // 400
$main-font-medium: 'Montserrat-Medium', sans-serif; // 500
$main-font-semibold: 'Montserrat-SemiBold', sans-serif; // 600
$main-font-bold: 'Montserrat-Bold', sans-serif; // 700
$main-font-extrabold: 'Montserrat-ExtraBold', sans-serif; // 800
$main-font-black: 'Montserrat-Black', sans-serif; // 900

$main-background: #f4f4f4;
$main-fonts-color: #bdbdbd;
$fonts-color:  #828282;
$menu-link-hover: #cb4ca0;
$steps-active: #cb4ca0;
$accent:  #cb4ca0;
$manColor: rgba(170, 214, 212, 0.5);
$womanColor: rgba(148, 65, 152, 0.2);