@import '../../../style/_misc/mixins';

.gender {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;

	@include phones {
		margin-bottom: 15px;
	}

	&__bg-wrap {
		display: flex;
		justify-content: center;
		width: 90%;
		height: 90%;

		@include phones {
			width: 70%;
		}
	}

	&__bg {
		width: 100%;
		height: 100%;
	}

	&__img-wrap {
		width: 90%;
		height: 90%;
		position: absolute;
		top: 0;
		left: unset;

		@include phones {
			width: 70%;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
	}
}

